.element-list {
    width: 200px;
    height: 50px;
    padding-left: 10px;
    cursor: pointer;
}

.element-list:nth-child(n) {
    border: 1px solid #000000;
    border-bottom: none;
}

.element-list:last-child {
    border: 1px solid #000000;   
}

.name-list {
    font-family: sans-serif;
    width: 100%;
}

.box-list {
    width: 40%;
    display: flex;
    flex-direction: column;
}

.box {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
}